* {
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(29, 22, 60);
    color: rgb(109, 116, 138);
    padding: 45px 25px;
}

/* header start  */
.header-container {
    display: flex;
    justify-content: space-between;
}

.right-header {
    display: flex;
    gap: 25px;
}

.right-header a {
    color: white;
    text-decoration: none;
}

.right-header button {
    color: white;
    background-color: rgb(56, 140, 192);
    padding: 9px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.logo-image {
    width: 110px;
}

/* header end  */
.card-container {
    display: flex;
    width: 100%;
    gap: 65px;
    margin-top: 55px;

}

.card-left {
    width: 100%;
    padding: 15px;

    box-shadow: 1px 1px 8px rgb(40, 40, 56);
}

.card-left :hover {}

.card-left img {
    width: 100%;
}

.card-right {
    width: 100%;
    padding: 15px;
    box-shadow: 1px 1px 8px rgb(40, 40, 56);

}

.card-right img {
    width: 100%;
}

.card-left p {
    margin-top: 45px;
}

.card-left button {
    margin-top: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background-color: rgb(53, 26, 174);
    color: rgb(109, 116, 138);
}

.card-right p {
    margin-top: 45px;


}

.card-right button {
    margin-top: 25px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.course {
    background-color: rgb(53, 26, 174);
    color: rgb(109, 116, 138);
}

.amount {
    color: aliceblue;
    background-color: rgb(58, 58, 104);
}